services:
  - type: web
    name: paytaksi-backend
    env: node
    plan: free
    rootDir: backend
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: DATABASE_URL
        sync: false
      - key: DATABASE_SSL
        value: "true"
      - key: JWT_SECRET
        sync: false
      - key: PRICE_BASE_AZN
        value: "3.5"
      - key: PRICE_PER_KM_AZN
        value: "0.4"
      - key: APP_UA
        value: "PayTaksi/1.0"
